---
import Layout from 'layouts/Layout.astro'; // astro
import Card from 'components/Card.astro';

import BasicButtons from 'components/BasicButtons'; //react
import { HighlighterWrapper, HighlighterToggle } from 'components/Highlighter'; //react

import Graph from 'components/Graph.svelte'; // svelte

import GraphVue from 'components/Graph.vue'; // vue
---

<Layout page="Home">
  <HighlighterToggle client:load />
  <div
    class="tw-grid sm:tw-grid-cols-1 md:tw-grid-cols-3 tw-gap-4 lg:tw-grid-cols-5"
  >
    <Card title="Cube">
      <HighlighterWrapper client:load framework="svelte">
        <Graph client:load />
      </HighlighterWrapper>
    </Card>

    <Card title="Line graph" className="tw-col-span-2">
      <HighlighterWrapper client:load framework="react">
        <BasicButtons client:load />
      </HighlighterWrapper>
    </Card>

    <Card title="Timeline" className="tw-col-span-2">
      <HighlighterWrapper client:load framework="vue">
        <GraphVue client:load />
      </HighlighterWrapper>
    </Card>
  </div>
</Layout>
