---
import Layout from '../layouts/Layout.astro'; // astro
import Sidebar from '../components/Sidebar'; // react
import Header from '../components/Header.svelte'; //svelte
---

<Layout title="Astro Dashboard">
  <div class="flex h-screen overflow-hidden">
    <Sidebar client:load />

    <main
      class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden"
    >
      <Header client:load />
    </main>
  </div>
</Layout>
