<footer
  class="tw-p-4 tw-bg-white tw-rounded-lg tw-shadow md:tw-flex md:tw-items-center md:tw-justify-between md:tw-p-6"
>
  <span class="tw-text-sm tw-text-gray-500 sm:tw-text-center"
    >Built with <a href="https://astro.build/" class="hover:tw-underline"
      >Astro</a
    > - Powered by <a href="https://netlify.com/" class="hover:tw-underline"
      >Netlify</a
    >
  </span>

  <span class="tw-text-sm tw-text-gray-500 sm:tw-text-center"
    >© 2022 - Developed by <a
      href="https://emasuriano.com/"
      class="hover:tw-underline">Ema Suriano</a
    >
  </span>
</footer>
