<footer
  class="tw-p-4 tw-bg-white tw-rounded-lg tw-shadow md:tw-flex md:tw-items-center md:tw-justify-between md:tw-p-6 dark:tw-bg-gray-800"
>
  <span
    class="tw-text-sm tw-text-gray-500 sm:tw-text-center dark:tw-text-gray-400"
    >© 2022 <a href="https://flowbite.com/" class="hover:tw-underline"
      >Flowbite™</a
    >. All Rights Reserved.
  </span>
  <ul
    class="tw-flex tw-flex-wrap tw-items-center tw-mt-3 tw-text-sm tw-text-gray-500 dark:tw-text-gray-400 sm:tw-mt-0"
  >
    <li>
      <a href="#" class="tw-mr-4 hover:tw-underline md:tw-mr-6">About</a>
    </li>
    <li>
      <a href="#" class="tw-mr-4 hover:tw-underline md:tw-mr-6"
        >Privacy Policy</a
      >
    </li>
    <li>
      <a href="#" class="tw-mr-4 hover:tw-underline md:tw-mr-6">Licensing</a>
    </li>
    <li>
      <a href="#" class="hover:tw-underline">Contact</a>
    </li>
  </ul>
</footer>
