---
import { humanize } from '../utils/string';

type Props = {
  framework: 'react' | 'svelte' | 'vue';
};

const FRAMEWORK_COLOR_MAP = {
  react: 'bg-blue-400',
  svelte: 'bg-orange-400',
  vue: 'bg-green-400',
};

const { framework } = Astro.props as Props;

const visible = true;
const color = FRAMEWORK_COLOR_MAP[framework];
---

{
  visible ? (
    <div class="relative">
      <div class={`p-1 ${color}`}>
        <div class="bg-white rounded m-1">
          <slot />
        </div>
      </div>

      <span class={`w-fit p-1 absolute right-0 bottom-30 ${color} z-10 `}>
        {humanize(framework)}
      </span>
    </div>
  ) : (
    <slot />
  )
}
